<section>
    <h2><a href="{{ id }}"></a>{{ name }}</a></h2>
    <h3>Ingredients</h3>
    <p>
        {{ ingredients.ingredient }} {{ ingredients.measurement }} {{ ingredients.unit }}
    </p>
    <p>
        {{ instruction }}
    </p>
</section>