<section class="view-recipe-card">
    <h2 id="view-recipe-title">{{ recipe.name }}</h2>

    <section>
        <h3>Category:</h3>
        {{ recipe.category.name }}
    </section>

    <section>
        <h3>Ingredients</h3>
        <ul>
            {{#each recipe.ingredients as |ingredient| }}
                <li>{{ingredient.ingredient}} {{ingredient.measurement}} {{ingredient.unit}}</li>
            {{/each}}
        </ul>
    </section>

    <section>
        <h3>Preparation Instructions:</h3>
        {{{ recipe.instructions }}}
    </section>

    {{#if isEditable}}
        <a id="edit-button" href="/edit/{{recipe.id}}">Edit</a>
    {{/if}}
</section>